<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ganadinote.sns.mapper.SnsMapper">
	<resultMap id="feedPostMap" type="ganadinote.common.domain.SnsPost">
		<result property="spCd"         column="sp_cd"/>
		<result property="spCn"         column="sp_cn"/>
		<result property="spRegYmdt"    column="sp_reg_ymdt"/>
		<result property="repImagePath" column="rep_image_path"/>
	</resultMap>
	
	<resultMap id="followUserMap" type="ganadinote.sns.domain.FollowUser">
		<result property="mbrCd"   column="mbr_cd"/>
		<result property="nickname" column="mbr_nknm"/>
		<result property="handle"   column="handle"/>
	</resultMap>
	
	<resultMap id="homeFeedMap" type="ganadinote.sns.domain.HomeFeedPost">
		<result property="spCd"       column="sp_cd"/>
		<result property="mbrCd"      column="mbr_cd"/>
		<result property="spCn"       column="sp_cn"/>
		<result property="spRegYmdt"  column="sp_reg_ymdt"/>
		<result property="nickname"   column="mbr_nknm"/>
		<result property="handle"     column="handle"/>
		<result property="profilePath"  column="mbr_profile"/>
	</resultMap>

	<insert id="insertPost"
        	parameterType="ganadinote.common.domain.SnsPost"
        	useGeneratedKeys="true" keyProperty="spCd" keyColumn="sp_cd">
        	/* 게시물 업로드 */
			INSERT INTO sns_post (mbr_cd, sp_cn)
			VALUES (#{mbrCd}, #{spCn})
	</insert>
	
	<select id="countPostsByMember" parameterType="int" resultType="long">
		/* myfeed - 게시물 숫자 */
		SELECT COUNT(*)
		FROM sns_post
		WHERE mbr_cd = #{mbrCd}
	</select>

	<select id="countFollowersOfMember" parameterType="int" resultType="long">
		/* myfeed - 팔로워 숫자 */
		SELECT COUNT(*)
		FROM follow
		WHERE following_mbr_cd = #{mbrCd}
	</select>

	<select id="countFollowingsByMember" parameterType="int" resultType="long">
		/* myfeed - 팔로우 숫자 */
		SELECT COUNT(*)
		FROM follow
		WHERE follow_mbr_cd = #{mbrCd}
	</select>
	
	<select id="selectPostsByMember" parameterType="int" resultMap="feedPostMap">
		/* myfeed - 게시물 대표이미지 */
		SELECT sp_cd, mbr_cd, sp_cn, sp_reg_ymdt
		FROM sns_post
		WHERE mbr_cd = #{mbrCd}
		ORDER BY sp_reg_ymdt DESC
	 </select>
	 
	<select id="selectFollowersOfMember" parameterType="int" resultMap="followUserMap">
		/* myfeed- 팔로워 목록 */
		SELECT
		  m.mbr_cd,
		  m.mbr_nknm,
		  CONCAT('@', SUBSTRING_INDEX(m.mbr_email, '@', 1)) AS handle
		FROM follow f
		JOIN member m ON m.mbr_cd = f.follow_mbr_cd
		WHERE f.following_mbr_cd = #{mbrCd}
		ORDER BY f.follow_ymdt DESC
	</select>
	
	<select id="selectFollowingsByMember" parameterType="int" resultMap="followUserMap">
		/* myfeed- 팔로우 목록 */
		SELECT
		  m.mbr_cd,
		  m.mbr_nknm,
		  CONCAT('@', SUBSTRING_INDEX(m.mbr_email, '@', 1)) AS handle
		FROM follow f
		JOIN member m ON m.mbr_cd = f.following_mbr_cd
		WHERE f.follow_mbr_cd = #{mbrCd}
		ORDER BY f.follow_ymdt DESC
	</select>
	
	<select id="selectHomeFeedPosts" parameterType="int" resultMap="homeFeedMap">
    	/* home - 내가 팔로우한 회원들의 최근 1주 게시물 */
	    (
		  SELECT
		    p.sp_cd,
		    p.mbr_cd,
		    p.sp_cn,
		    p.sp_reg_ymdt,
		    m.mbr_nknm,
		    CONCAT('@', SUBSTRING_INDEX(m.mbr_email, '@', 1)) AS handle,
		    m.mbr_profile
		  FROM sns_post p
		  JOIN member m ON m.mbr_cd = p.mbr_cd
		  WHERE p.mbr_cd = #{mbrCd}
		    AND p.sp_reg_ymdt >= DATE_SUB(NOW(), INTERVAL 7 DAY)
		)
		UNION ALL
		(
		  SELECT
		    p.sp_cd,
		    p.mbr_cd,
		    p.sp_cn,
		    p.sp_reg_ymdt,
		    m.mbr_nknm,
		    CONCAT('@', SUBSTRING_INDEX(m.mbr_email, '@', 1)) AS handle,
		    m.mbr_profile
		  FROM sns_post p
		  JOIN follow f ON f.following_mbr_cd = p.mbr_cd
		  JOIN member m ON m.mbr_cd = p.mbr_cd
		  WHERE f.follow_mbr_cd = #{mbrCd}
		    AND p.sp_reg_ymdt >= DATE_SUB(NOW(), INTERVAL 7 DAY)
		)
		ORDER BY sp_reg_ymdt DESC
	</select>
	

</mapper>