<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ganadinote.notification.mapper.PushMapper">

<insert id="addSubscription">
        INSERT INTO push_subscription (
            mbr_cd,
            endpoint,
            p256dh,
            auth
        ) VALUES (
            #{mbrCd},
            #{endpoint},
            #{p256dh},
            #{auth}
        )
    </insert>

    <select id="getSubInfoByMbrCd" resultType="ganadinote.common.domain.PushSubscription">
        SELECT
            id,
            mbr_cd,
            endpoint,
            p256dh,
            auth,
            created_at
        FROM 
            push_subscription
        WHERE
            mbr_cd = #{mbrCd}
    </select>
</mapper>