<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer id="snsFooter" class="fixed-bottom d-xl-none" th:fragment="footerFragment">
    <nav class="footer-tabs">
        <!-- [수정 1] Main 메뉴의 링크를 캘린더 페이지(/todo/list)로 연결합니다. -->
        <!-- active 클래스는 일단 제거하거나, 필요하다면 수동으로 관리합니다. -->
        <a th:href="@{/todo/list}" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#house"></use>
            </svg>
            <span class="tab-label">Main</span>
        </a>
        
        <!-- [수정 2] Routine 메뉴의 링크를 루틴 관리 페이지(/routine/list)로 연결합니다. -->
        <a th:href="@{/routine/list}" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#calendar2-check"></use>
            </svg>
            <span class="tab-label">Routine</span>
        </a>
        
        <a th:href="@{/community}" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#chat-dots"></use>
            </svg>
            <span class="tab-label">Community</span>
        </a>
        
        <a th:href="@{/sns}" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#grid"></use>
            </svg>
            <span class="tab-label">Sns</span>
        </a>
    </nav>
</footer>
</html>