<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer id="snsFooter" class="fixed-bottom d-xl-none" th:fragment="footerFragment">
	<nav class="footer-tabs">
        <a href="" class="tab-item active">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#house"></use>
            </svg>
            <span class="tab-label">Main</span>
        </a>
        <a href="" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#calendar2-check"></use>
            </svg>
            <span class="tab-label">To-do</span>
        </a>
        <a th:href="@{/community}" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#chat-dots"></use>
            </svg>
            <span class="tab-label">Community</span>
        </a>
        <a href="/sns" class="tab-item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#grid"></use>
            </svg>
            <span class="tab-label">Sns</span>
        </a>
    </nav>
</footer>
</html>