<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer id="snsFooter" class="fixed-bottom d-xl-none" th:fragment="snsFooterFragment">
	<nav class="footer-tabs">
        <a href="" class="tab-item active" data-route="/sns/home">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#house"></use>
            </svg>
            <span class="tab-label">Home</span>
        </a>
        <a href="" class="tab-item" data-route="/sns/walking">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#cursor"></use>
            </svg>
            <span class="tab-label">Walking</span>
        </a>
        <a href="" class="tab-item" data-route="/sns/myfeed">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#person-circle"></use>
            </svg>
            <span class="tab-label">My Feed</span>
        </a>
    </nav>
</footer>
</html>