<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="snsHomeFragment">
	<div class="page-heading mt-10">
	    <section class="section">
	        <div class="row no-gutter-x">
	            <div class="col-md-6 offset-md-3">
	                <div class="sr_walk-crew-section mb-3">
	                    <h6 class="card-title">Crew</h6>
	                    <div class="sr_walk-crew-list">
	                        <div class="sr_walk-crew-item card mb-1">
	                            <div class="sr_crew-item-content">
	                                <p class="sr_crew-title">용인 산책 크루</p>
	                                <div style="display:flex; align-items:center;">
		                            	<p class="btn btn-light rounded-pill sr_crew-dday text-danger mb-0"
		                            		style="font-size: xx-small; padding:3px 10px 3px 10px;">D-7</p>
		                                <p class="sr_crew-region mb-0 ml-1">용인시</p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="sr_walk-crew-item card mb-1">
	                            <div class="sr_crew-item-content">
	                                <p class="sr_crew-title">강남 애견 모임</p>
	                                <div style="display:flex; align-items:center;">
		                            	<p class="btn btn-light rounded-pill sr_crew-dday text-danger mb-0"
		                            		style="font-size: xx-small; padding:3px 10px 3px 10px;">D-5</p>
		                                <p class="sr_crew-region mb-0 ml-1">강남구</p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="sr_walk-crew-item card mb-1">
	                            <div class="sr_crew-item-content">
	                                <p class="sr_crew-title">용인 산책 크루</p>
	                                <div style="display:flex; align-items:center;">
		                            	<p class="btn btn-light rounded-pill sr_crew-dday text-danger mb-0"
		                            		style="font-size: xx-small; padding:3px 10px 3px 10px;">D-2</p>
		                                <p class="sr_crew-region mb-0 ml-1">용인시</p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="sr_walk-crew-item card mb-1">
	                            <div class="sr_crew-item-content">
	                                <p class="sr_crew-title">수원 산책 동호회</p>
	                                <div style="display:flex; align-items:center;">
		                            	<p class="btn btn-light rounded-pill sr_crew-dday text-danger mb-0"
		                            		style="font-size: xx-small; padding:3px 10px 3px 10px;">D-1</p>
		                                <p class="sr_crew-region mb-0 ml-1">수원시</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	
	                <div class="sr_feed-list">
	                	<h6 class="card-title">Post</h6>
	                    <div class="card sr_feed-item mb-3">
	                        <div class="card-body p-0">
	                            <div class="sr_feed-header d-flex align-items-center mb-1 mt-1" style="justify-content:space-between;">
	                            	<div style="display:flex; align-items:center;">
		                                <div class="avatar avatar-md me-3">
		                                    <img src="https://www.yomidog.com/preSaleUpFile/210322_%EC%84%B1%EB%B6%81%EC%B9%98%EC%99%80%EC%99%80_214.jpg" alt="게시자 프로필">
		                                </div>
		                                <div class="sr_feed-user-name">
		                                    <p class="mb-0" style="font-size: small;font-weight: bolder;">가루</p>
		                                    <p class="mb-0" style="font-size: xx-small;">8월 20일</p>
		                                </div>
	                                </div>
	                                <a href="" class="tab-item active">
		                                <svg class="bi" width="24" height="24" fill="currentColor">
							                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#three-dots-vertical"></use>
							            </svg>
						            </a>
	                            </div>
	                            <div class="sr_feed-img mb-3">
	                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3edqlEgyGmOK6wCHa1F0FU4M8XOxAevvo9FDGIs93ZVyCcQ24Yw9z4XTu4D_13pLD6p4&usqp=CAU" class="d-block w-100" alt="게시물 이미지">
	                            </div>
	                            <div class="sr_feed-actions d-flex align-items-center mb-2">
	                                <i class="bi bi-heart text-danger"></i>
	                            </div>
	                            <div class="sr_feed-content">
	                            	<span class="badge bg-light-secondary" style="font-size: .65em;">#산책</span>
	                            	<span class="badge bg-light-secondary" style="font-size: .65em;">#김가루</span>
	                            </div>
	                        </div>
	                    </div>
	
						<div class="card sr_feed-item mb-3">
	                        <div class="card-body p-0">
	                            <div class="sr_feed-header d-flex align-items-center mb-1 mt-1" style="justify-content:space-between;">
	                            	<div style="display:flex; align-items:center;">
		                                <div class="avatar avatar-md me-3">
		                                    <img src="https://images.mypetlife.co.kr/content/uploads/2022/12/16162807/IMG_1666-edited-scaled.jpg" alt="게시자 프로필">
		                                </div>
		                                <div class="sr_feed-user-name">
		                                    <p class="mb-0" style="font-size: small;font-weight: bolder;">두리</p>
		                                    <p class="mb-0" style="font-size: xx-small;">8월 17일</p>
		                                </div>
		                        	</div>
	                                <a href="" class="tab-item active">
		                                <svg class="bi" width="24" height="24" fill="currentColor">
							                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#three-dots-vertical"></use>
							            </svg>
						            </a>
	                            </div>
	                            <div class="sr_feed-img mb-3">
	                                <img src="https://image.dongascience.com/Photo/2020/03/5bddba7b6574b95d37b6079c199d7101.jpg" class="d-block w-100" alt="게시물 이미지">
	                            </div>
	                            <div class="sr_feed-actions d-flex align-items-center mb-2">
	                                <i class="bi bi-heart text-danger"></i>
	                            </div>
	                            <div class="sr_feed-content">
	                                <span class="badge bg-light-secondary" style="font-size: .65em;">#콱마</span>
	                            	<span class="badge bg-light-secondary" style="font-size: .65em;">#뭘보노</span>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="card sr_feed-item mb-3">
	                        <div class="card-body p-0">
	                        	<div class="sr_feed-header d-flex align-items-center mb-1 mt-1" style="justify-content:space-between;">
	                            	<div style="display:flex; align-items:center;">
		                                <div class="avatar avatar-md me-3">
		                                    <img src="https://mblogthumb-phinf.pstatic.net/MjAyMjAyMjFfMjQ5/MDAxNjQ1NDIyMTcxNDg5.eAPGmnpjXy5DvjvkOj2DGKRvc5rNhi83QPfR8bFKjoMg.45PnNECyLIXS5jro4jLz7G7M9EdEdLuH67rpZEX7uSAg.PNG.withwithpet/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2022-02-21_%EC%98%A4%ED%9B%84_2.35.53.png?type=w800" alt="게시자 프로필">
		                                </div>
		                                <div class="sr_feed-user-name">
		                                    <p class="mb-0" style="font-size: small;font-weight: bolder;">댕댕</p>
		                                    <p class="mb-0" style="font-size: xx-small;">8월 8일</p>
		                                </div>
		                        	</div>
	                                <a href="" class="tab-item active">
		                                <svg class="bi" width="24" height="24" fill="currentColor">
							                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#three-dots-vertical"></use>
							            </svg>
						            </a>
	                            </div>
	                            <div class="sr_feed-img mb-3">
	                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/400x0/gift/pdt/1026/hot1705642935222.jpg" class="d-block w-100" alt="게시물 이미지">
	                            </div>
	                            <div class="sr_feed-actions d-flex align-items-center mb-2">
	                                <i class="bi bi-heart text-danger"></i>
	                            </div>
	                            <div class="sr_feed-content">
	                                <span class="badge bg-light-secondary" style="font-size: .65em;">#산책</span>
	                                <span class="badge bg-light-secondary" style="font-size: .65em;">#모델</span>
	                            	<span class="badge bg-light-secondary" style="font-size: .65em;">#바나나</span>
	                            	
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="card sr_feed-item mb-3">
						    <div class="card-body p-0">
						    	<div class="sr_feed-header d-flex align-items-center mb-1 mt-1" style="justify-content:space-between;">
	                            	<div style="display:flex; align-items:center;">
		                                <div class="avatar avatar-md me-3">
		                                    <img src="https://newsimg-hams.hankookilbo.com/2024/06/25/9b490f29-4415-43bb-bdf8-b77c3ca67413.jpg" alt="게시자 프로필">
		                                </div>
		                                <div class="sr_feed-user-name">
		                                    <p class="mb-0" style="font-size: small;font-weight: bolder;">멈무</p>
		                                    <p class="mb-0" style="font-size: xx-small;">8월 5일</p>
		                                </div>
		                        	</div>
	                                <a href="" class="tab-item active">
		                                <svg class="bi" width="24" height="24" fill="currentColor">
							                <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#three-dots-vertical"></use>
							            </svg>
						            </a>
	                            </div>
	                            
						        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
						            <ol class="carousel-indicators">
						                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
						                    class="active"></li>
						                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
						            </ol>
						            <div class="carousel-inner" style="border-radius:0px;">
						                <div class="sr_feed-img carousel-item active mb-3">
						                    <img src="https://newsimg-hams.hankookilbo.com/2024/06/25/9b490f29-4415-43bb-bdf8-b77c3ca67413.jpg" class="d-block w-100" alt="게시자 이미지">
						                </div>
						                <div class="sr_feed-img carousel-item mb-3">
						                    <img src="https://img2.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202507/21/newsay/20250721120005530oqsr.png" class="d-block w-100" alt="게시자 이미지">
						                </div>
						            </div>
						            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
						                data-bs-slide="prev">
						                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						                <span class="visually-hidden">Previous</span>
						            </a>
						            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
						                data-bs-slide="next">
						                <span class="carousel-control-next-icon" aria-hidden="true"></span>
						                <span class="visually-hidden">Next</span>
						            </a>
						        </div>
						        
						        <div class="sr_feed-actions d-flex align-items-center mb-2">
	                                <i class="bi bi-heart text-danger"></i>
	                            </div>
	                            <div class="sr_feed-content">
	                                <span class="badge bg-light-secondary" style="font-size: .65em;">#졸려</span>
	                                <span class="badge bg-light-secondary" style="font-size: .65em;">#안할래</span>
	                            	<span class="badge bg-light-secondary" style="font-size: .65em;">#그만할래</span>
	                            	<span class="badge bg-light-secondary" style="font-size: .65em;">#집갈래</span>
	                            </div>
						    </div>
						</div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>
</div>
</html>