<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="snsWalkingFragment">
	<div class="page-heading mt-10">
        <section class="section">
            <div class="row no-gutter-x">
                <!-- 여기에 산책 크루 모집글 목록이 표시됩니다. -->
                <div class="col-md-6 col-sm-12">
                    <!-- 첫 번째 예시 카드 -->
                    <div>
						<div class="sr_walking-card-header">
						    <div class="avatar avatar-md mr-5">
						        <img src="https://newsimg-hams.hankookilbo.com/2024/06/25/9b490f29-4415-43bb-bdf8-b77c3ca67413.jpg" alt="프로필 사진">
						    </div>
						    <div class="sr_walking-profile-info">
						        <p class="sr_walking-nickname mb-0">멈무</p>
						        <div class="sr_walking-meta-info">
						            <span>서울</span>
						            <span>2.5km</span>
						        </div>
						    </div>
						</div>
	                    <div class="sr_walking-card">
	                    	<div class="sr_walking-info-title">
	                        	<h6 class="sr_walking-crew-title mb-0">오후 7시 만리동 광장 산책하실 분</h6>
	                    	</div>
	                        <div class="sr_walking-card-body">
	                            <div class="sr_walking-info">
	                                <p class="sr_walking-crew-description" style="padding-left:0px;">서울로 만리동 광장에서 함께 산책할 크루원 구해요! 댕댕이와 함께 즐거운 시간 보내요~</p>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#geo-alt">지역</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">서울로 7017 만리동 광장</p>
	                                </div>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#calendar-check">마감기한</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">~2025.08.31</p>
	                                </div>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#person">마감기한</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">3/5</p>
	                                </div>
	                            </div>
	                            <div class="sr_walking-crew-image-container">
	                                <img src="https://mediahub.seoul.go.kr/uploads/mediahub/2021/10/HUfccrhHSeacUrFWiKYGIVBIpohHOdaH.jpg" class="sr_walking-crew-image" alt="크루 대표 이미지">
	                            </div>
	                        </div>
	                    </div>
                    </div>

					<div>
						<div class="sr_walking-card-header">
						    <div class="avatar avatar-md mr-5">
						        <img src="https://newsimg-hams.hankookilbo.com/2024/06/25/9b490f29-4415-43bb-bdf8-b77c3ca67413.jpg" alt="프로필 사진">
						    </div>
						    <div class="sr_walking-profile-info">
						        <p class="sr_walking-nickname mb-0">멈무</p>
						        <div class="sr_walking-meta-info">
						            <span>서울</span>
						            <span>2.5km</span>
						        </div>
						    </div>
						</div>
	                    <div class="sr_walking-card">
	                    	<div class="sr_walking-info-title">
	                        	<h6 class="sr_walking-crew-title mb-0">오후 7시 만리동 광장 산책하실 분</h6>
	                    	</div>
	                        <div class="sr_walking-card-body">
	                            <div class="sr_walking-info">
	                                <p class="sr_walking-crew-description" style="padding-left:0px;">서울로 만리동 광장에서 함께 산책할 크루원 구해요! 댕댕이와 함께 즐거운 시간 보내요~</p>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#geo-alt">지역</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">서울로 7017 만리동 광장</p>
	                                </div>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#calendar-check">마감기한</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">~2025.08.31</p>
	                                </div>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#person">마감기한</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">3/5</p>
	                                </div>
	                            </div>
	                            <div class="sr_walking-crew-image-container">
	                                <img src="https://mediahub.seoul.go.kr/uploads/mediahub/2021/10/HUfccrhHSeacUrFWiKYGIVBIpohHOdaH.jpg" class="sr_walking-crew-image" alt="크루 대표 이미지">
	                            </div>
	                        </div>
	                    </div>
                    </div>
                    
                    <div>
						<div class="sr_walking-card-header">
						    <div class="avatar avatar-md mr-5">
						        <img src="https://newsimg-hams.hankookilbo.com/2024/06/25/9b490f29-4415-43bb-bdf8-b77c3ca67413.jpg" alt="프로필 사진">
						    </div>
						    <div class="sr_walking-profile-info">
						        <p class="sr_walking-nickname mb-0">멈무</p>
						        <div class="sr_walking-meta-info">
						            <span>서울</span>
						            <span>2.5km</span>
						        </div>
						    </div>
						</div>
	                    <div class="sr_walking-card">
	                    	<div class="sr_walking-info-title">
	                        	<h6 class="sr_walking-crew-title mb-0">오후 7시 만리동 광장 산책하실 분</h6>
	                    	</div>
	                        <div class="sr_walking-card-body">
	                            <div class="sr_walking-info">
	                                <p class="sr_walking-crew-description" style="padding-left:0px;">서울로 만리동 광장에서 함께 산책할 크루원 구해요! 댕댕이와 함께 즐거운 시간 보내요~</p>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#geo-alt">지역</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">서울로 7017 만리동 광장</p>
	                                </div>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#calendar-check">마감기한</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">~2025.08.31</p>
	                                </div>
	                                <div class="sr_walking-card-header">
		                                <svg class="bi" fill="currentColor">
							                <use xlink:href="/assets/vendors/bootstrap-icons/bootstrap-icons.svg#person">마감기한</use>
							            </svg>
		                                <p class="sr_walking-crew-description pl-10">3/5</p>
	                                </div>
	                            </div>
	                            <div class="sr_walking-crew-image-container">
	                                <img src="https://mediahub.seoul.go.kr/uploads/mediahub/2021/10/HUfccrhHSeacUrFWiKYGIVBIpohHOdaH.jpg" class="sr_walking-crew-image" alt="크루 대표 이미지">
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</html>