<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ganadinote.auth.login.mapper.LoginMapper">

    <resultMap id="memberResultMap" type="ganadinote.common.domain.Member">
        <id property="mbrCd" column="mbr_cd"/>
        <result property="mbrEmail" column="mbr_email"/>
        <result property="mbrPw" column="mbr_pw"/>
        <result property="mbrNknm" column="mbr_nknm"/>
    </resultMap>

    <select id="findByMbrEmail" resultMap="memberResultMap">
        SELECT
            mbr_cd,
            mbr_email,
            mbr_pw,
            mbr_nknm
        FROM
            member
        WHERE
            mbr_email = #{mbrEmail}
    </select>

</mapper>