<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ganadinote.todolist.mapper.TodoMapper">

    <resultMap id="todoResultMap" type="ganadinote.common.domain.Todo">
        <id property="todoCd" column="todo_cd"/>
        <result property="mbrCd" column="mbr_cd"/>
        <result property="petCd" column="pet_cd"/>
        <result property="routineCd" column="routine_cd"/>
        <result property="todoTitle" column="todo_title"/>
        <result property="todoScheduledDt" column="todo_scheduled_dt"/>
        <result property="todoIsCompleted" column="todo_is_completed"/>
        <result property="regYmdt" column="reg_ymdt"/>
        <result property="mdfcnYmdt" column="mdfcn_ymdt"/>
    </resultMap>

    <select id="getTodosByMbrCd" parameterType="int" resultMap="todoResultMap">
        SELECT
            todo_cd,
            mbr_cd,
            pet_cd,
            routine_cd,
            todo_title,
            todo_scheduled_dt,
            todo_is_completed,
            reg_ymdt,
            mdfcn_ymdt  <!-- 수정 완료! -->
        FROM
            todo
        WHERE
            mbr_cd = #{mbrCd}
        ORDER BY
            todo_scheduled_dt ASC
    </select>
    
    <insert id="addTodo" parameterType="ganadinote.common.domain.Todo">
        INSERT INTO todo (
            mbr_cd, 
            pet_cd, 
            todo_title, 
            todo_scheduled_dt
        ) VALUES (
            #{mbrCd},
            #{petCd},
            #{todoTitle},
            #{todoScheduledDt}
        )
    </insert>
    
    <delete id="deleteTodo" parameterType="long">
        DELETE FROM todo
        WHERE todo_cd = #{todoCd}
    </delete>
    
    <!-- [추가 1!] 할 일 ID로 1건을 조회하는 SELECT 쿼리 -->
    <select id="getTodoByCd" parameterType="long" resultMap="todoResultMap">
        SELECT
            todo_cd, mbr_cd, pet_cd, routine_cd, todo_title,
            todo_scheduled_dt, todo_is_completed, reg_ymdt, mdfcn_ymdt
        FROM
            todo
        WHERE
            todo_cd = #{todoCd}
    </select>
    
    <!-- [추가 2!] 할 일 정보를 업데이트하는 UPDATE 쿼리 -->
    <update id="updateTodo" parameterType="ganadinote.common.domain.Todo">
        UPDATE todo
        SET
            pet_cd = #{petCd},
            todo_title = #{todoTitle},
            todo_scheduled_dt = #{todoScheduledDt},
            todo_is_completed = #{todoIsCompleted}
        WHERE
            todo_cd = #{todoCd}
    </update>
    
    <!-- [추가!] 특정 루틴 ID와 날짜로 생성된 할 일의 개수를 세는 쿼리 -->
    <select id="countTodoByRoutineCdAndDate" resultType="int">
        SELECT COUNT(*)
        FROM todo
        WHERE
            routine_cd = #{routineCd}
            AND DATE(todo_scheduled_dt) = #{today}
    </select>
    
     <!-- [추가!] 할 일 목록을 한 번에 삽입하는 Bulk Insert 쿼리 -->
    <insert id="addTodos" parameterType="java.util.List">
        INSERT INTO todo (
            mbr_cd, 
            pet_cd, 
            routine_cd,
            todo_title, 
            todo_scheduled_dt
        ) VALUES
        <foreach collection="list" item="todo" separator=",">
            (
                #{todo.mbrCd},
                #{todo.petCd},
                #{todo.routineCd},
                #{todo.todoTitle},
                #{todo.todoScheduledDt}
            )
        </foreach>
    </insert>

</mapper>